.layout {
  &__sidebar {
    &.move-enter-active,
    &.move-exit-active {
      transition: all 0.5s ease;
    }
    &.move-exit-active,
    &.move-exit-done,
    &.move-enter {
      transform: translateX(-16rem);
    }

    &.move-enter-active,
    &.move-enter-done {
      transform: translateX(0);
    }
  }

  &__hide-sidebar {
    &.move-enter-active,
    &.move-exit-active {
      transition: all 0.5s ease;
    }
    &.move-exit-active,
    &.move-exit-done,
    &.move-enter {
      transform: translateX(1rem);
    }

    &.move-enter-active,
    &.move-enter-done {
      transform: translateX(16rem);
    }
  }
}
